<nav class="sidebar">
	<ul class="sidebar-list">
		<li class="sidebar_search">
			<a>Search</a>

			<div class="ssid-search">
        <label>Are you here?</label>
        <input type="text" placeholder="SSID" class="ssid-input">
        <a href="#" class="submit">&rarr;</a>
      </div>
		</li>
		<li class="swapView sidebar_maps" data-active="true"><a>Maps</a></li>
		<li class="swapView sidebar_networks" data-active="false">
			<a>Networks</a>
			<ul>
				<li class="sidebar_offense"><span>Offense</span></li>
				<li class="sidebar_defense"><span>Defense</span></li>
			</ul>
		</li>
		<li class="swapView sidebar_city" data-active="false"><a href="#">City</a></li>
		<li class="swapView sidebar_social" data-active="false"><a href="#">Social</a></li>
		<li class="swapView sidebar_civil" data-active="false"><a href="#">Civil</a></li>
	</ul>
</nav>